
.image {
  width: 100%; /* Definindo a largura da imagem */
  padding-top: 55.25%; /* 16:9 */
  overflow: hidden; /* O conteúdo é cortado e nenhuma barra de rolagem é exibida. */
  position: relative; /* definindo a posição como relativa */
}

.image img {
  width: 100%; /* Definindo a largura da imagem */
  position: absolute; /* Define o elemento como próprio para se sobrepor aos outros */
  top: 50%; /* Especificando a posição vertical */
  left: 50%; /* Especificando a posição para a esquerda */
  transform: translate(-50%, -50%); /* Especificando a posição vertical */
}

.title { margin-bottom: 20px; }/* Adicionando uma margem em relação ao conteúdo abaixo. */

.info {
  display: flex;/* Definindo como os elementos serão dispostos na página. */
  align-self: end; /* Alinhando itens-flex da linha flex alvo */
  align-items: center; /* Estabelecendo  o valor align-self em todos como um grupo */
}

.modal-overlay {
  display: flex;/* Definindo como os elementos serão dispostos na página. */
  align-items: center;/* Estabelecendo  o valor align-self em todos como um grupo */
  justify-content: center;/* Centralizando o conteúdo no meio, em consideração à largura */
  position: fixed;/* Define uma posição fixa para o elemento */
  top: 0;/* Especificando a posição vertical */
  left: 0;/* Especificando a posição para a esquerda */
  width: 100%;/* Definindo a largura  */
  height: 100%;/* Adicionando uma altura. */
  z-index: 5;/*Responsável pelo cálculo e posicionamento da profundidade de algum elemento*/
  background-color: rgba(0, 0, 0, 0.6);/* Definindo uma cor de fundo */
  opacity: 0; /* Definindo a opacidade */
  visibility: hidden; /* Alterando a visibilidade */
}
.modal-overlay.active {
  opacity: 1;/* Definindo a opacidade */
  visibility: visible;/* Alterando a visibilidade */
}
.modal {
  display: flex;/* Definindo como os elementos serão dispostos na página. */
  align-items: center;/* Estabelecendo  o valor align-self em todos como um grupo */
  justify-content: center;/* Centralizando o conteúdo no meio, em consideração à largura */
  position: relative; /* definindo a posição como relativa */
  background-color: #fff; /* Definindo uma cor de fundo */
  width: 800px;/* Definindo a largura*/
  height: 400px; /* Adicionando uma altura. */
  margin: 0 auto;/* Definindo uma margem. */
  padding: 10px; /* definindo uma margem interna. */
  border-radius: 3px;/* definindo o arredontamendo da borda. */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* sombra em caixa */ 
  opacity: 0;/* Definindo a opacidade */
  overflow-y: auto;/* Definindo o que vai acontecer com as dimensões que excedem a pag. */
  visibility: hidden;/* Alterando a visibilidade */
  
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1); /* Adicionando transição com velocidade variável */
  transform: scale(1.2); /* Alterando a escala */
}
.modal .close-modal {
  position: absolute;/* Define o elemento como próprio para se sobrepor aos outros */
  cursor: pointer; /* Deixa o mouse com o simbolo de clícavel */
  top: 5px;/* Especificando a posição vertical */
  right: 15px; /* Falando pra ele se alinha com a 15px da direita */
  opacity: 0; /* Definindo a opacidade */
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);/* Adicionando transição */
  transition-delay: 0.3s;/* Adicionando um atraso para iniciar a transição */
}
.modal .close-modal svg {
  width: 18px;/* Definindo a largura  */
  height: 18px;/* Adicionando uma altura. */
}
.modal .modal-content {
  opacity: 0;/* Definindo a opacidade */
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);/* Adicionando transição */
  transition-delay: 0.3s;/* Adicionando um atraso para iniciar a transição */
}
.modal.active {
  visibility: visible;/* Alterando a visibilidade */
  opacity: 1;/* Definindo a opacidade */
  transform: scale(1); /* Alterando a escala */
}
.modal.active .modal-content { opacity: 1; }/* Definindo a opacidade */

.modal.active .close-modal {
  transform: translateY(10px);/* Especificando a posição vertical */
  opacity: 1;/* Definindo a opacidade */

}

.sobre{
  font-size: 1.75rem; /* Definindo um tamanho para a fonte*/
  text-align: justify; /* Definindo o alinhamento do texto.*/
  margin-left: 10%; /* Definindo uma distância em relaçãp a margem esquerda.*/
  margin-right: 10%; /* Definindo uma distância em relaçãp a margem direita.*/
  font-style: italic; /* Defininfo um estilo para a fonte.*/
}

.sobre p{ text-indent: 3rem; } /* Definindo um tamanho para o recuo da primeira linha de um bloco de texto*/

.fonte-sobre{  font-size: 1.9rem; /* Definindo um tamanho para a fonte*/ }

.acesso-prova-gabarito{ font-size: 1.75rem; /* Definindo um tamanho para a fonte*/ }

.acesso-prova-gabarito input{ margin: 1%; }/* Definindo uma margem. */
