* {
    margin: 0;/* Definindo uma margem. */
    padding: 0;/* definindo uma margem interna. */
    font-family: Arial, Helvetica, sans-serif;/* Definindo a fonte que irá ser utilizada */
    box-sizing: border-box;/* permite controlar como o tamanho total de um elemento é calculado, não considerando o espaço ocupado pelo padding e pela borda */
}
 
main {
    padding: 115px 60px 25px;/* definindo uma margem interna. */
    min-height: 805px;/* Adicionando uma altura minima. */
}
 
header {
    padding: 20px 25px;/* definindo uma margem interna. */
    position: fixed;/* Define uma posição fixa para o elemento */
    overflow: hidden;/* O conteúdo é cortado e nenhuma barra de rolagem é exibida. */
    background: #2c5ca8;/* Definindo uma cor de fundo */
    width: 100vw;/* Definindo a largura*/
}

.navbar a {
    float: left;/*O elemento é posicionado à esquerda de seu contêiner*/
    color: rgb(255, 255, 255);/* Defino a cor do texto */
    text-align: center;/* Definindo o tipo de alinhamento do texto */
    padding: 12px;/* definindo uma margem interna. */
    text-decoration: none;/* Tira a decoração do elemento */
    font-size: 18px; /* Definindo um tamanho para a fonte*/
    line-height: 25px;/*Permite controlar o espaçamento entre as linhas de um texto*/
    border-radius: 5px;/* definindo o arredontamendo da borda. */
    margin: 0 2px;/* Definindo uma margem. */
} 

.navbar a.logo {
    font-size: 25px;/* Definindo um tamanho para a fonte*/
    font-weight: bold;/* definindo um 'peso'para a fonte. */
}  

.navbar a:hover {
    background-color: #ffffff;/* Definindo uma cor de fundo */
    color: rgb(0, 0, 0);/* Defino a cor do texto*/
    
}  

.navbar a.active {
    background-color: #ffffff;/* Definindo uma cor de fundo */
    color: rgb(0, 0, 0);/* Defino a cor do texto*/
} 

.navbar-canto { float: right; }/*O elemento é posicionado à direita de seu contêiner*/

.navbar-canto a { font-size: 16px; }/* Definindo um tamanho para a fonte*/
  
footer {
    background: #6491da;
    padding: 15px  130px;/* definindo uma margem interna. */
    display: flex;/* Definindo como os elementos serão dispostos na página. */
    justify-content: center;/* Centralizando o conteúdo no meio, em consideração à largura */
    align-items: center;/* Centraliza o conteúdo em relação à altura */
}

.img-rodape {
    width: 250px;/* Definindo a largura */
    height: 70px;/* Adicionando uma altura. */
    margin: 0 20px;/* Definindo uma margem. */
}

.img-rodape2 {
    width: 140px;/* Definindo a largura */
    height: 90px;/* Adicionando uma altura. */
    margin: 0 50px;/* Definindo uma margem. */
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;/*O elemento não é posicionado como um elemento flutuante*/
      display: block;/* Definindo como os elementos serão dispostos na página. */
      text-align: left;/* Definindo o tipo de alinhamento do texto */
    }
    
    .navbar-canto { float: none; }/*O elemento não é posicionado como um elemento flutuante*/

    main { padding: 245px 10px 10px; }/* definindo uma margem interna. */
}

  

        