<!DOCTYPE html> <!-- Colocando o tipo do documento como HTML-->
<html lang="PT-BR"><!-- Início do elemento raiz HTML -->

<head><!-- Início da seção de cabeçalho -->
  <meta charset="UTF-8" /><!-- Define o conjunto de caracteres como UTF-8 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Define a configuração de visualização para dispositivos móveis -->
  <link rel="icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <!-- Define o ícone da página exibido na aba do navegador -->

  <!-- Importa o arquivo CSS para estilizar a página -->
  <link rel="stylesheet" type="text/css" href="../../css/layout.css" />
  <link rel="stylesheet" type="text/css" href="../../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../../css/responsive.css" media="screen and (max-width: 1440px)" />
  <!-- Linkando o css para a responsividade-->
  <!-- Define o título da página -->
  <title>Simulado Paranacidade - Início</title>
</head><!-- Fim da seção de cabeçalho -->

<body><!-- Início do corpo da página -->
  <header> <!-- Início da seção de cabeçalho -->
    <div class="container"><!-- Container que envolve os elementos do cabeçalho -->
      <div class="logos"><!-- Abrindo uma div com a classe "logos"-->
        <div class="logo_pci"><!-- Abrindo uma div com a classe "logo_pci"-->
          <a target="_blank"
            href="https://www.pciconcursos.com.br/"><!-- Abrindo uma tag a para fazer um link para a página do PCI Concursos -->
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" width="65"
              height="45" /><!-- Imagem do logo do PCI Concursos -->
          </a><!-- Fechando a tag a -->
        </div> <!-- Fechando a div de clsse "logo_pci" -->
        <span class="logo_parana"> <!-- Abrindo um 'span' com classe "logo_parana"-->
          <b><!-- Abrindo a tag 'b' para deixar o for escrito em negrito-->
            PARANACIDADE <!-- Escrevendo "PARANACIDADE" entre a tag 'b', para deixar em negrito-->
          </b><!-- Fechando a tag 'b'-->
        </span><!-- Fechando a tag 'span'-->
      </div> <!-- Fechando a 'div' de classe "logos"-->
      <div class="menu-section"><!-- Abrindo uma 'div' com classe "meu_section"-->
        <div class="menu-toggle"><!-- Abrindo uma 'div' com classe "menu-toggle"-->
          <div class="one"></div><!-- Abrindo e fechando uma 'div' com classe "one"-->
          <div class="two"></div><!-- Abrindo e fechando uma 'div' com classe "two"-->
          <div class="three"></div><!-- Abrindo e fechando uma 'div' com classe "three"-->
        </div><!-- Fechando a 'div' com classe "menu-toggle"-->
        <nav> <!-- Abrindo uma tag 'nav', para fazer a navegação do menu-->
          <ul><!-- Abrindo a tag 'ul' para fazer uma lista não ordenada-->
            <li><!-- Abrindo a tag 'li' para acrescentar um item à lista-->
              <a href="Index.html">Início</a><!-- Link para a página "Index.html" -->
            </li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
            <li><!-- Abrindo a tag 'li' para acrescentar um item à lista-->
              <a href="../Perguntas/Instrucoes.html">Iniciar
                Simulado</a><!-- Link para a página "Instrucoes.html" dentro da pasta "Perguntas" -->
            </li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
            <li><!-- Abrindo a tag 'li' para acrescentar um item à lista-->
              <a href="About.html">Sobre</a><!-- Link para a página "About.html" -->
            </li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
            <li><!-- Abrindo a tag 'li' para acrescentar um item à lista-->
              <a href="Credits.html">Créditos</a><!-- Link para a página "Credits.html" -->
            </li> <!-- Fechando a tag 'li' para informar o fim de um item à lista-->
          </ul><!-- Fechando a tag 'ul' para determinar o fim da lista-->
        </nav> <!-- Fechando a tag 'nav'-->
      </div><!-- Fechando a 'div' com classe "menu-section"-->
    </div><!-- Fechando a 'div' com classe "container"-->
  </header> <!-- Fechando a tag 'Header' para finalizar o cabeçalho da página-->

  <main> <!-- Abrindo a tag 'main' para fazer a parte principal do site-->
    <div class="corpo-pagina"> <!-- Abrindo uma 'div' com a classe "corpo-pagina"-->
      <div class="sobre"><!-- Abrindo uma 'div' com a classe "sobre"-->
        <h1>O que é o PCI Concursos</h1>
        <!-- Colocando um texto entre as tags 'h1' para ele ficar em formato de título-->
        <br><!-- Usando a tag 'br' para pular uma linha-->
        <p><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
          O site PCI Concursos é um portal que reúne todos os concursos públicos abertos no país. A PCI Concursos é uma
          empresa que reúne todo o cadastro das vagas disponíveis, bem como editais e, ainda, dicas para conseguir o
          cargo desejado.
        </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
        <p><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
          Desde 2009, o PCI Concursos é o maior site de concursos públicos do Brasil. Com mais de 10 anos de atuação, o
          site já ajudou mais de 7 milhões de pessoas a conquistarem o emprego dos seus sonhos.
        </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
        <p><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
          O PCI Concursos oferece uma grande variedade de serviços, como o curso online com mais de 500 horas/aula, o
          simulado com mais de 10 mil questões, e o Guia do Concurseiro, que é um e-book com mais de 200 páginas que
          ensina tudo sobre como passar em um concurso público.
        </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
        <p><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
          Além disso, o site também oferece um fórum com mais de 300 mil usuários, onde é possível tirar dúvidas e
          trocar experiências com outros concurseiros.
        </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
        <br><!-- Usando a tag 'br' para pular uma linha-->
        <p class="fonte-sobre"><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
          Fonte:
          <!-- Abrindo a tag 'a' para fazer um link para o site do do PCI Concursos-->
          <a target="_Blank"
            href="https://ubes.org.br/2019/pci-concursos-entenda-como-funciona/#:~:text=O%20que%20%C3%A9%20PCI%20Concursos,para%20conseguir%20o%20cargo%20desejado.">
            https://ubes.org.br/2019/pci-concursos-entenda-como-funciona/#:~:text=O%20que%20%C3%A9%20PCI%20Concursos,para%20conseguir%20o%20cargo%20desejado.
            <!-- Colocando um texto para o link-->
          </a><!-- Fechando a tag 'a' para fechar o link-->
        </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
      </div><!-- Fechando a 'div' com a classe "sobre"-->

      <div class="acesso-ao-simulado"> <!-- Abrindo uma 'div' com a classe "acesso-ao-simulado"-->
        <h2>Simulado Paranacidade - Análise e Desenvolvimento de Sistemas (2022)</h2>
        <!-- Colocando um texto entre as tags 'h2' para o texto tomar forma de título-->
        <a href="../Perguntas/Instrucoes.html"><!-- Abrindo a tag 'a' para fazer um link para a página de instruções do simulado-->
          <input type="Button" class="button-nav"
            value="Iniciar simulado" /><!-- Colocando um input de botão para acionar o link da tag 'a'-->
        </a><!-- Fechando a tag 'a' para fechar o link-->
      </div><!-- Fechando a 'div' com a classe "acesso-ao-simulado"-->

      <div class="acesso-prova-gabarito"> <!-- Abrindo uma 'div' com a classe "acesso-prova-gabarito"-->
        <!-- Colocando um texto entre as tags 'h3' para ele ficar em formato de título-->
        <h3>Confira a prova para o cargo de Análise e Desenvolvimento de Sistemas realizada pela FAUEL do ano de 2022
        </h3>
        <!-- Usando a tag 'p' para fazer um parágrafo. E a tag 'i' para que o texto que estiver dentro dela fiquem em itálico-->
        <p>Utilize os botões abaixo para acessar as prova e o gabarito, ambos originais, em formato de <i>PDF</i>.</p>
        <a target="_Blank"
          href="../../PDFs/analista_de_desenvolvimento_de_sistemas.pdf"><!-- Abrindo a tag 'a' para fazer um link para o gabarito oficial da prova em formato de pdf-->
          <input type="Button" class="button-nav"
            value="Prova" /><!-- Colocando um input de botão para acionar o link da tag 'a'-->
        </a><!-- Fechando a tag 'a' para fechar o link-->
        <a Target="_Blank"
          Href="../../PDFs/gabarito_definitivo.pdf"><!-- Abrindo a tag 'a' para fazer um link para o gabarito oficial da prova em formato de pdf-->
          <input type="Button" class="button-nav"
            value="Gabarito" /><!-- Colocando um input de botão para acionar o link da tag 'a'-->
        </a><!-- Fechando a tag 'a' para fechar o link-->
      </div> <!-- Fechando a 'div' com a classe "acesso-prova-gabarito"-->
    </div> <!-- Fechando a 'div' com a classe "corpo-pagina"-->
  </main> <!-- Fechando a tag 'main'-->

  <footer><!-- Abrindo a tag 'footer' para fazer o rodapé da página-->
    <div> <!-- Abrindo uma 'div'-->
      <p> <!-- Abrindo a tag 'p' para fazer um paragrafo-->
        <a target="_Blank"
          href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/"><!-- Abrindo a tag 'a' para fazer um link para a página do curso de ADS da Fatec-Carapicuíba-->
          Curso de Análise e Desenvolvimento de Sistemas (ADS) <!-- Colocando um texto para o link-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
      </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->

      <div class="fatec_sp"> <!-- Abrindo uma 'div' com a classe "fatec_sp"-->
        <a target="_Blank"
          href="http://www.fateccarapicuiba.edu.br"><!-- Abrindo a tag 'a' para fazer um link para a página da Fatec-Carapicuíba-->
          <img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
          <!-- Usando a tag 'img' para colocar a imagem do logo da Fatec-Carapicuíba-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
        <a target="_Blank"
          href="https://www.saopaulo.sp.gov.br/"><!-- Abrindo a tag 'a' para fazer um link para a página do Governo Estadual de São Paulo-->
          <img src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px"
            width="80px" /><!-- Usando a tag 'img' para colocar a imagem do logo do Estado de São Paulo-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
        <a target="_Blank"
          href="https://www.cps.sp.gov.br/"><!-- Abrindo a tag 'a' para fazer um link para a página do Centro Paula Souza-->
          <img src="../../Images/Principal/cps-logo.png" height="45px"
            width="80px" /><!-- Usando a tag 'img' para colocar a imagem do logo do Centro Paula Souza-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
      </div><!--Fechando a 'div' com a classe "fatec_sp"-->
    </div> <!-- Fechando a 'div'-->
  </footer> <!-- Fechando a tag 'footer' para finalizar o rodapé-->
</body><!-- Fechando a tag 'body', para finalizar o corpo do HTML-->

</html> <!-- Fechando a tag 'html' para finalizar o HTML-->