<!DOCTYPE html>
<html Lang="PT-BR">

<head>
  <meta CharSet="UTF-8" />
  <meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />

  <link rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <link rel="StyleSheet" type="Text/Css" href="../../css/layout.css" />
  <link rel="StyleSheet" type="Text/Css" href="../../css/index.css" />

  <title>Simulado Paranacidade - Início</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="logos">
        <div class="logo_pci">
          <a target="_Blank" href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </div>
        <span class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </span>
      </div>
      <div class="menu-section">
        <div class="menu-toggle">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <nav>
          <ul>
            <li>
              <a href="Index.html">Início</a>
            </li>
            <li>
              <a href="../Perguntas/Instrucoes.html">Iniciar Simulado</a>
            </li>
            <li>
              <a href="About.html">Sobre</a>
            </li>
            <li>
              <a href="Credits.html">Créditos</a>
            </li>
            
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <div class="corpo-pagina">
      <div class="sobre">
        <h1>O que é o PCI Concursos</h1>
        <br>
        <p>
          O site PCI Concursos é um portal que reúne todos os concursos públicos abertos no país. A PCI Concursos é uma
          empresa que reúne todo o cadastro das vagas disponíveis, bem como editais e, ainda, dicas para conseguir o
          cargo desejado.
        </p>
        <p>
          Desde 2009, o PCI Concursos é o maior site de concursos públicos do Brasil. Com mais de 10 anos de atuação, o
          site já ajudou mais de 7 milhões de pessoas a conquistarem o emprego dos seus sonhos.
        </p>
        <p>
          O PCI Concursos oferece uma grande variedade de serviços, como o curso online com mais de 500 horas/aula, o
          simulado com mais de 10 mil questões, e o Guia do Concurseiro, que é um e-book com mais de 200 páginas que
          ensina tudo sobre como passar em um concurso público.
        </p>
        <p>
          Além disso, o site também oferece um fórum com mais de 300 mil usuários, onde é possível tirar dúvidas e
          trocar experiências com outros concurseiros.
        </p>
        <br>
        <p class="fonte-sobre">Fonte:
          <a target="_Blank"
            href="https://ubes.org.br/2019/pci-concursos-entenda-como-funciona/#:~:text=O%20que%20%C3%A9%20PCI%20Concursos,para%20conseguir%20o%20cargo%20desejado.">
            https://ubes.org.br/2019/pci-concursos-entenda-como-funciona/#:~:text=O%20que%20%C3%A9%20PCI%20Concursos,para%20conseguir%20o%20cargo%20desejado.
          </a>
        </p>
      </div>

      <div class="acesso-ao-simulado">
        <h2>Simulado Paranacidade - Análise e Desenvolvimento de Sistemas (2022)</h2>

        <a href="../Perguntas/Instrucoes.html">
          <input type="Button" class="button-nav" value="Iniciar simulado" />
        </a>
      </div>

      <div class="acesso-prova-gabarito">
        <h3>Confira a prova para o cargo de Análise e Desenvolvimento de Sistemas realizada pela FAUEL do ano de 2022</h3>
        <p>Utilize os botões abaixo para acessar as prova e o gabarito, ambos originais, em formato de <i>PDF</i>.</p>
        <a target="_Blank"
          href="../../PDFs/analista_de_desenvolvimento_de_sistemas.pdf">
          <input type="Button" class="button-nav" value="Prova" />
        </a>
        <a Target="_Blank" Href="../../PDFs/gabarito_definitivo.pdf">
          <input type="Button" class="button-nav" value="Gabarito" />
        </a>
      </div>
    </div>
  </main>

  <footer>
    <div>
      <p>
        <a target="_Blank" href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <div class="fatec_sp">
        <a target="_Blank" href="http://www.fateccarapicuiba.edu.br">
          <img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a target="_Blank" href="https://www.saopaulo.sp.gov.br/">
          <img src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a target="_Blank" href="https://www.cps.sp.gov.br/">
          <img src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </div>
    </div>
  </footer>
</body>
</html>