<!DocType HTML>

<HTML Lang="PT-BR">

<Head>
  <Meta CharSet="UTF-8" />
  <Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />

  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/index.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />

  <Title>Simulado Paranacidade - Início</Title>
</Head>

<body>
  <header>
    <div Class="container">
      <div Class="logos">
        <div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </div>
        <span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </span>
      </div>
      <div Class="menu-section">
        <div Class="menu-toggle">
          <div Class="one"></div>
          <div Class="two"></div>
          <div Class="three"></div>
        </div>
        <nav>
          <Ul>
            <Li>
              <a Href="Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../Perguntas/Instrucoes.html">Iniciar Simulado</a>
            </Li>
            <Li>
              <a Href="About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="Credits.html">Créditos</a>
            </Li>
            
          </Ul>
        </nav>
      </div>
    </div>
  </header>

  <Main>
    <Div Class="corpo-pagina">
      <Div Class="sobre">
        <h1>O que é o PCI Concursos</h1>
        <br>
        <p>
          O site PCI Concursos é um portal que reúne todos os concursos públicos abertos no país. A PCI Concursos é uma
          empresa que reúne todo o cadastro das vagas disponíveis, bem como editais e, ainda, dicas para conseguir o
          cargo desejado.
        </p>
        <p>
          Desde 2009, o PCI Concursos é o maior site de concursos públicos do Brasil. Com mais de 10 anos de atuação, o
          site já ajudou mais de 7 milhões de pessoas a conquistarem o emprego dos seus sonhos.
        </p>
        <p>
          O PCI Concursos oferece uma grande variedade de serviços, como o curso online com mais de 500 horas/aula, o
          simulado com mais de 10 mil questões, e o Guia do Concurseiro, que é um e-book com mais de 200 páginas que
          ensina tudo sobre como passar em um concurso público.

        <p>
          Além disso, o site também oferece um fórum com mais de 300 mil usuários, onde é possível tirar dúvidas e
          trocar experiências com outros concurseiros.
        </p>
        <br>
        <p Class="fonte-sobre">Fonte:
          <a Target="_Blank"
            Href="https://ubes.org.br/2019/pci-concursos-entenda-como-funciona/#:~:text=O%20que%20%C3%A9%20PCI%20Concursos,para%20conseguir%20o%20cargo%20desejado.">
            https://ubes.org.br/2019/pci-concursos-entenda-como-funciona/#:~:text=O%20que%20%C3%A9%20PCI%20Concursos,para%20conseguir%20o%20cargo%20desejado.
          </a>
        </p>
      </Div>

      <Div Class="acesso-ao-simulado">
        <H2>Simulado Paranacidade - Análise e Desenvolvimento de Sistemas (2022)</H2>

        <a Href="../Perguntas/Instrucoes.html">
          <Input Type="Button" Class="button-nav" Value="Iniciar simulado" />
        </a>
      </Div>

      <Div Class="acesso-prova-gabarito">
        <H3>Confira a prova para o cargo de Análise e Desenvolvimento de Sistemas realizada pela FAUEL do ano de 2022</H3>
        <p>Utilize os botões abaixo para acessar as prova e o gabarito, ambos originais, em formato de <i>PDF</i>.</p>
        <a Target="_Blank"
          Href="../../PDFs/analista_de_desenvolvimento_de_sistemas.pdf">
          <Input Type="Button" Class="button-nav" Value="Prova" />
        </a>
        <a Target="_Blank" Href="../../PDFs/gabarito_definitivo.pdf">
          <Input Type="Button" Class="button-nav" Value="Gabarito" />
        </a>
      </Div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>
</body>

</HTML>