<!DocType HTML>

<HTML Lang="PT-BR">

<Head>
  <Meta CharSet="UTF-8" />
  <Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <Title>Questão 7</Title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</Head>

<Body Id="Q7">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 7/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">
        <Div Class="nav-pergunta">
          <a Href="EQ7_Q6C.html">&lt;</a>
          <a Href="EQ7_Q6C.html">6</a>
          <a Class="pergunta-selecionada" Href="EQ7_Q7A.html">7</a>
          <a Href="EQ7_Q8B.html">8</a>
          <a Href="EQ7_Q8B.html">&gt;</a>
        </Div>

        <Div Class="texto-pergunta">
          <p>
            <b>Leia o texto a seguir, escrito por Rubem Braga, para responder as questões a seguir.</b>
          </p>
          <p>
            “Os americanos, através do radar, entraram em contato com a Lua, o que não deixa de ser emocionante. Mas o
            fato mais importante da semana aconteceu com o meu pé de milho. Aconteceu que no meu quintal, em um monte de
            terra trazido pelo jardineiro, nasceu alguma coisa que podia ser um pé de capim – mas descobri que era um pé
            de milho. Transplantei-o para o exíguo canteiro na frente da casa. Secaram as pequenas folhas, pensei que
            fosse morrer. Mas ele reagiu. Quando estava do tamanho de um palmo veio um amigo e declarou desdenhosamente
            que na verdade aquilo era capim. Quando estava com dois palmos veio outro amigo e afirmou que era cana. Sou
            um ignorante, um pobre homem de cidade. Mas eu tinha razão. Ele cresceu, está com dois metros, lança as suas
            folhas além do muro – e é um esplêndido pé de milho. Já viu o leitor um pé de milho? Eu nunca tinha visto.
            Tinha de milho sozinho, em um canteiro, espremido, junto do portão, numa esquina de rua – não é um número
            numa lavoura, é um ser vivo e independente. Suas raízes roxas se agarram no chão e suas folhas longas e
            verdes nunca estão imóveis. Detesto comparações surrealistas – mas na glória de seu crescimento, tal como o
            vi em uma noite de luar, o pé de milho parecia um cavalo empinado, as crinas ao vento – e em outra madrugada
            parecia um galo cantando. Anteontem aconteceu o que era inevitável, mas que nos encantou como se fosse
            inesperado: meu pé de milho pendoou. Há muitas flores belas no mundo, e a flor de milho não será a mais
            linda. Mas aquele pendão firme, vertical, beijado pelo vento do mar, veio enriquecer nosso canteirinho
            vulgar com uma força e uma alegria que fazem bem. É alguma coisa de vivo que se afirma com ímpeto e certeza.
            Meu pé de milho é um belo gesto da terra. E eu não sou mais um medíocre homem que vive atrás de uma chata
            máquina de escrever: sou um rico lavrador da rua Júlio de Castilhos”. (Um pé de milho, com adaptações.)
          </p>
        </Div>

        <Div Class="enunciado-pergunta">
          <p>
            07. O autor do texto dá a entender que havia, em frente à sua casa, um “exíguo canteiro”. Em relação ao
            adjetivo “exíguo”, marque a alternativa que apresenta um de seus possíveis significados:
          </p>
        </Div>

        <Div Class="alternativas-pergunta">
          <Span> <Input Type="Radio" Name="Q7" Value="A" Id="alt-correta" /> a) Diminuto</Span>
          <Span> <Input Type="Radio" Name="Q7" Value="B" /> b) Exuberante</Span>
          <Span> <Input Type="Radio" Name="Q7" Value="C" /> c) Opulento.</Span>
          <Span> <Input Type="Radio" Name="Q7" Value="D" /> d) Pujante.</Span>
        </Div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>

      </Div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</Body>

</HTML>