<!DocType HTML> <!-- Colocando o tipo do documento como HTML-->

<HTML Lang="PT-BR"> <!-- Abrindo a tag 'html' para abrir o html, e colocando como linguagem o português brasileiro-->

<Head> <!-- Abrindo a "cabeça" do HTML-->
  <Meta CharSet="UTF-8" /> <!-- Para podermos colocar caracteres especiais no HTML-->
  <Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <Title>Questão 1</Title> <!-- Colocando o titulo do HTML-->
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <!-- Colocando o ícone no cabeçalho da página-->
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" /> <!-- Linkando o css para o layout da página-->
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" /><!-- Linkando o css para as perguntas-->
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" /><!-- Linkando o css para o pop-up-->
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <!-- Linkando o css para o pop-up da correção-->
</Head> <!-- Fechando a tag para a "cabeça" do HTML-->

<Body Id="Q2"><!-- Abrindo a tag 'body' para o corpo do HTML-->
  <header><!-- Início da seção de cabeçalho -->
    <div Class="container"><!-- Container que envolve os elementos do cabeçalho -->
      <div class="logos"><!-- Abrindo uma div com a classe "logos"-->
        <div class="logo_pci"><!-- Abrindo uma div com a classe "logo_pci"-->
          <a target="_blank"
            href="https://www.pciconcursos.com.br/"><!-- Abrindo uma tag a para fazer um link para a página do PCI Concursos -->
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" width="65"
              height="45" /><!-- Imagem do logo do PCI Concursos -->
          </a><!-- Fechando a tag a -->
        </div> <!-- Fechando a div de clsse "logo_pci" -->
        <span class="logo_parana"> <!-- Abrindo um 'span' com classe "logo_parana"-->
          <b><!-- Abrindo a tag 'b' para deixar o for escrito em negrito-->
            PARANACIDADE <!-- Escrevendo "PARANACIDADE" entre a tag 'b', para deixar em negrito-->
          </b><!-- Fechando a tag 'b'-->
        </span><!-- Fechando a tag 'span'-->
      </div> <!-- Fechando a 'div' de classe "logos"-->
      <div class="menu-section"><!-- Abrindo uma 'div' com classe "meu_section"-->
        <div class="menu-toggle"><!-- Abrindo uma 'div' com classe "menu-toggle"-->
          <div class="one"></div><!-- Abrindo e fechando uma 'div' com classe "one"-->
          <div class="two"></div><!-- Abrindo e fechando uma 'div' com classe "two"-->
          <div class="three"></div><!-- Abrindo e fechando uma 'div' com classe "three"-->
        </div><!-- Fechando a 'div' com classe "menu-toggle"-->
        <Nav><!-- Abrindo uma tag 'nav', para fazer a navegação do menu-->
          <Ul><!-- Abrindo a tag 'ul' para fazer uma lista não ordenada-->
            <Li><!-- Abrindo a tag 'li' para acrescentar um item à lista-->
              <a Href="../../Views/Principal/Index.html">Início</a><!-- Link para a página "Index.html" -->
            </Li><!-- Fechando a tag 'li' para informar o fim de um item à lista-->
            <Li><!-- Abrindo a tag 'li' para acrescentar um item à lista-->
              <a Href="../../Views/Principal/About.html">Sobre</a><!-- Link para a página "About.html" -->
            </Li><!-- Fechando a tag 'li' para informar o fim de um item à lista-->
            <Li><!-- Abrindo a tag 'li' para acrescentar um item à lista-->
              <a Href="../Principal/Credits.html">Créditos</a><!-- Link para a página "Credits.html" -->
            </Li><!-- Fechando a tag 'li' para informar o fim de um item à lista-->
          </Ul><!-- Fechando a tag 'ul' para determinar o fim da lista-->
        </Nav><!-- Fechando a tag 'nav'-->
      </div><!-- Fechando a 'div' com classe "menu-section"-->
    </div><!-- Fechando a 'div' com classe "container"-->
  </header> <!-- Fechando a tag 'Header' para finalizar o cabeçalho da página-->

  <Main><!-- Abrindo a tag 'main' para fazer a parte principal do site-->
    <!-- Criando pagina e numero pergunta -->
    <Div Class="corpo-pagina"> <!-- Abrindo uma 'div' com classe "corpo-pagina"-->
      <Div Class="numero-pergunta"> <!-- Abrindo uma 'div' com classe "numero-pergunta"-->
        <b><!-- Abrindo a tag 'b' para deixar o for escrito em negrito-->
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 2/40
        </b><!-- Fechando a tag 'b'-->
      </Div><!-- Fechando a 'div' com a classe "numero-pergunta"-->
      <!-- Criaçao de corpo pergunta -->
      <Div Class="corpo-pergunta"><!-- Abrindo uma 'div' com classe "corpo-pergunta"-->
        <Div Class="nav-pergunta"><!-- Abrindo uma 'div' com classe "nav-pergunta"-->
          <a Href="EQ7_Q1C.html">&lt;</a><!-- Símbolo de navegação para a pergunta anterior -->
          <a Href="EQ7_Q1C.html">1</a> <!-- Link para a pergunta 1 -->
          <a Class="pergunta-selecionada" Href="EQ7_Q2C.html">2</a> <!-- Link para a pergunta 2 -->
          <a Href="EQ7_Q3A.html">3</a> <!-- Link para a pergunta 3 -->
          <a Href="EQ7_Q3A.html">&gt;</a><!-- Símbolo de navegação para a próxima pergunta -->
        </Div><!-- Fechando a 'div' com a classe "nav-pergunta"-->
        <!-- Criação de texto pergunta. -->
        <Div Class="texto-pergunta"><!-- Abrindo uma 'div' com classe "texto-pergunta"-->
          <p><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
            <b> Leia o texto para responder da questão 1 a
              5</b><!-- Abrindo a tag 'b' para deixar o for escrito em negrito-->
          </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
          <p><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
            Considere o trecho a seguir, extraído de um dos escritos de Lima Barreto, para responder as próximas
            questões.
          </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
          <p><!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
            “A vida não pode ser uma dor, uma humilhação decontínuos e burocratas idiotas; a vida deve ser uma vitória.
            Quando, porém, não se pode conseguir isto, a morte é que deve vir em nosso socorro. A covardia mental e
            moral do Brasil não permite movimentos de independência; ela só quer acompanhadores de proscissão, que só
            visam lucros ou salários nos pareceres. Não há, entre nós, campo para as grandes batalhas de espírito e
            inteligência. Tudo aqui é feito com o dinheiro e os títulos. A agitação de uma ideia não repercute na massa
            e, quando esta sabe que se trata de contrariar uma pessoa poderosa, trata o agitador de louco. Nunca foram
            os homens de bom senso, os honestos burgueses ali da esquina, que fizeram as grandes reformas no mundo.
            Todas elas têm sido feitas por homens, e às vezes mesmo mulheres, tidos por doidos. A divisa deles consiste
            em não seguir a opinião de todos, por isso mesmo podem ver mais longe do que os outros. Se nós tivéssemos
            sempre a opinião da maioria, não teríamos ainda saído das cavernas. O que é preciso, portanto, é que cada
            qual respeite a opinião de qualquer, para que desse choque surja o esclarecimento do nosso destino, para
            própria felicidade da espécie humana. Entretanto, no Brasil, não se quer isto. Procura-se abafar as
            opiniões, para só deixar em campo os desejos dos poderosos e prepotentes. Os órgãos de publicidade por onde
            se podiam elas revelar são fechados e não aceitam nada que os possa lesar. Dessa forma, quem, como eu,
            nasceu pobre e não quer ceder uma linha da sua independência de espírito e inteligência, só tem que fazer
            elogios à morte”. (Elogio da morte, com adaptações).<!-- Texto da pergunta -->
          </p><!-- Fechando a tag 'p' para finalizar o parágrafo-->
        </Div><!-- Fechando a 'div' com a classe "texto-pergunta"-->

        <!-- Criação do enunciado pergunta -->
        <Div Class="enunciado-pergunta"><!-- Abrindo uma 'div' com classe "enunciado-pergunta"-->
          <p>02. Ainda na parte inicial do texto, no trecho “quando, porém, não se pode conseguir isto”, o pronome
            demonstrativo “isto” recupera no texto:</p> <!-- Abrindo a tag 'p', para escrevermos um parágrafo no HTML-->
        </Div><!-- Fechando a 'div' com a classe "enunciado-pergunta"-->
        <!-- Criando um botão com o elemento input e usando value para adicionar o que está escrito. -->
        <Div Class="alternativas-pergunta"><!-- Abrindo uma 'div' com classe "alternativas-pergunta"-->
          <Span> <Input Type="Radio" Name="Q2" Value="A" />a) a covardia mental e moral do
            Brasil.</Span><!-- Alternativa A -->
          <Span> <Input Type="Radio" Name="Q2" Value="B" /> b) a humilhação de contínuos e burocratas
            idiotas.</Span><!-- Alternativa B -->
          <Span> <Input Type="Radio" Name="Q2" Value="C" Id="alt-correta" /> c) a ideia de que a vida deve ser uma
            vitória.</Span><!-- Alternativa C -->
          <Span> <Input Type="Radio" Name="Q2" Value="D" /> d) os lucros ou salários nos
            pareceres.</Span><!-- Alternativa D -->
        </div><!-- Fechando a 'div' com a classe "alternativas-pergunta"-->
        <!-- Criando um botão com o elemento input e usando value para adicionar o que está escrito no botão. -->
        <Div Class="buttons-nav"><!-- Abrindo uma 'div' com classe ""-->
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <!-- Responsável pela navegação das perguntas. -->
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" OnClick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div><!-- Fechando a 'div' com a classe "numero-pergunta"-->
      </Div><!-- Fechando a 'div' com a classe "corpo-pergunta"-->
    </Div> <!-- Fechando a 'div' com a classe "corpo-pagina"-->
  </Main> <!-- Fechando a tag 'main'-->

  <Footer> <!-- Abrindo a tag 'footer' para fazer o rodapé da página-->
    <Div> <!-- Abrindo uma 'div'-->
      <p> <!-- Abrindo a tag 'p' para fazer um paragrafo-->
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          <!-- Abrindo a tag 'a' para fazer um link para a página do curso de ADS da Fatec-Carapicuíba-->
          Curso de Análise e Desenvolvimento de Sistemas (ADS) <!-- Colocando um texto para o link-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
      </p> <!-- Fechando a tag 'p' para finalizar o parágrafo-->

      <Div Class="fatec_sp"> <!-- Abrindo uma 'div' com a classe "fatec_sp"-->
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <!-- Abrindo a tag 'a' para fazer um link para a página da Fatec-Carapicuíba-->
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
          <!-- Usando a tag 'img' para colocar a imagem do logo da Fatec-Carapicuíba-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <!-- Abrindo a tag 'a' para fazer um link para a página do Governo Estadual de São Paulo-->
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
          <!-- Usando a tag 'img' para colocar a imagem do logo do Estado de São Paulo-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <!-- Abrindo a tag 'a' para fazer um link para a página do Centro Paula Souza-->
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
          <!-- Usando a tag 'img' para colocar a imagem do logo do Centro Paula Souza-->
        </a> <!-- Fechando a tag 'a' para fechar o link-->
      </Div> <!--Fechando a 'div' com a classe "fatec_sp"-->
    </Div> <!-- Fechando a 'div'-->
  </Footer> <!-- Fechando a tag 'footer' para finalizar o rodapé-->

  <Script Src="../../js/menu.js"></Script><!--Linkando o JavaScript-->
  <Script Src="../../js/contar.js"></Script><!--Linkando o JavaScript-->
  <Script Src="../../js/corrigir.js"></Script><!--Linkando o JavaScript-->
  <Script src="../../js/popup.js"></Script><!--Linkando o JavaScript-->
</Body> <!-- Fechando a tag 'body', para finalizar o corpo do HTML-->

</HTML> <!-- Fechando a tag 'html' para finalizar o HTML-->