EQ7_<!doctype html>

<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <title>Questão 22</title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</head>

<body Id="Q22">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 22/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">

        <Div Class="nav-pergunta">
          <a Href="EQ7_Q21D.html">&lt;</a>
          <a Href="EQ7_Q21D.html">21</a>
          <a Class="pergunta-selecionada" Href="EQ7_Q22C.html">22</a>
          <a Href="EQ7_Q23D.html">23</a>
          <a Href="EQ7_Q23D.html">&gt;</a>
        </Div>

        <div class="enunciado-pergunta">
          <p>
            22. No que diz respeito à usucapião especial, prevista na Lei 10.257/2001 (Estatuto da Cidade), assinale,
            abaixo, a alternativa CORRETA:
          </p>
        </div>

        <div class="alternativas-pergunta">
          <span> <input type="Radio" Name="Q22" Value="A" /> a) Aquele que possuir como sua área ou edificação urbana de
            até duzentos e cinquenta metros quadrados, por dez anos, ininterruptamente e sem oposição, utilizando-a para
            sua moradia ou de sua família, adquirir-lhe-á o domínio, desde que não seja proprietário de outro imóvel
            urbano ou rural.</span>
          <span> <input type="Radio" Name="Q22" Value="B" /> b) Na ação de usucapião especial urbana, a intervenção do
            Ministério Público é facultativa.</span>
          <span> <input type="Radio" Name="Q22" Value="C" Id="alt-correta" /> c) Os núcleos urbanos informais existentes
            sem oposição há mais de cinco anos e cuja área total dividida pelo número de possuidores seja inferior a
            duzentos e cinquenta metros quadrados por possuidor são suscetíveis de serem usucapidos coletivamente, desde
            que os possuidores não sejam proprietários de outro imóvel urbano ou rural.</span>
          <span> <input type="Radio" Name="Q22" Value="D" /> d) A usucapião especial coletiva de imóvel urbano será
            declarada pelo juiz, mediante sentença, a qual servirá de título para registro no cartório de notas
            correspondente.</span>
        </div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>

      </div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</body>

</html>