<!DOCTYPE html>

<html Lang="PT-BR">

<head>
	<Meta CharSet="UTF-8" />
	<Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />
	<Title>Questão 12</Title>
	<Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
	<Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
	<Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
	<Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
	<Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
	<Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</head>

<body Id="Q12">
	<Header>
		<Div Class="container">
			<Div Class="logos">
				<Div Class="logo_pci">
					<a Target="_Blank" Href="https://www.pciconcursos.com.br/">
						<img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
					</a>
				</Div>
				<Span Class="logo_parana">
					<b>
						PARANACIDADE
					</b>
				</Span>
			</Div>
			<Div Class="menu-section">
				<Div Class="menu-toggle">
					<Div Class="one"></Div>
					<Div Class="two"></Div>
					<Div Class="three"></Div>
				</Div>
				<Nav>
					<Ul>
						<Li>
							<a Href="../../Views/Principal/Index.html">Início</a>
						</Li>
						<Li>
							<a Href="../../Views/Principal/About.html">Sobre</a>
						</Li>
						<Li>
							<a Href="../Principal/Credits.html">Créditos</a>
						</Li>

					</Ul>
				</Nav>
			</Div>
		</Div>
	</Header>

	<Main>
		<Div Class="pagina-pergunta">
			<div class="numero-pergunta">
				<b>
					Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 12/40
				</b>
			</div>

			<Div Class="corpo-pergunta">
				<Div Class="nav-pergunta">
					<a Href="EQ7_Q11C.html">11</a>
					<a Href="EQ7_Q11C.html">&lt;</a>
					<a Class="pergunta-selecionada" Href="EQ7_Q12B.html">12</a>
					<a Href="EQ7_Q13D.html">13</a>
					<a Href="EQ7_Q13D.html">&gt;</a>
				</Div>

				<div class="enunciado-pergunta">
					<p>
						12. Uma empresa que realiza pesquisas estatísticas entrevistou 100 pessoas para saber qual marca
						de sabonete compravam: Cheirosinho ou Bomcheiro e organizou uma tabela para representar as
						respostas dadas.
					</p>
					<br>
					<table>
						<tr>
							<th>Respostas</th>
							<th>Quantidade de pessoas</th>
						</tr>
						<tr>
							<td>Cheirosinho</td>
							<td>41</td>
						</tr>
						<tr>
							<td>Bomcheiro</td>
							<td>64</td>
						</tr>
						<tr>
							<td>Cheirosinho e Bomcheiro</td>
							<td>25</td>
						</tr>
					</table>
					<br>
					<p>
						Quantas pessoas responderam que não compram nenhum dos dois sabonetes?
					</p>
				</div>

				<div class="alternativas-pergunta">
					<span><Input Type="Radio" Name="Q12" Value="A" /> a) 0</span>
					<span><Input Type="Radio" Name="Q12" Value="B" Id="alt-correta" /> b) 20.</span>
					<span><Input Type="Radio" Name="Q12" Value="C" /> c) 50</span>
					<span><Input Type="Radio" Name="Q12" Value="D" /> d) 75.</span>
				</div>

				<Div Class="buttons-nav">
					<Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
					<Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
					<Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
				</Div>

			</div>
		</Div>
	</Main>

	<Footer>
		<Div>
			<p>
				<a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
					Curso de Análise e Desenvolvimento de Sistemas (ADS)
				</a>
			</p>

			<Div Class="fatec_sp">
				<a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
					<Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
				</a>
				<a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
					<Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
				</a>
				<a Target="_Blank" Href="https://www.cps.sp.gov.br/">
					<Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
				</a>
			</Div>
		</Div>
	</Footer>

	<Script Src="../../js/menu.js"></Script>
	<Script Src="../../js/contar.js"></Script>
	<Script Src="../../js/corrigir.js"></Script>
	<script src="../../js/popup.js"></script>
</body>

</html>