<!doctype html>

<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <title>Questão 25</title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</head>

<body Id="Q25">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 25/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">

        <Div Class="nav-pergunta">
          <a Href="EQ7_Q24B.html">&lt;</a>
          <a Href="EQ7_Q24B.html">24</a>
          <a Class="pergunta-selecionada" Href="EQ7_Q25A.html">25</a>
          <a Href="EQ7_Q26A.html">26</a>
          <a Href="EQ7_Q26A.html">&gt;</a>
        </Div>

        <div class="enunciado-pergunta">
          <p>
            25. Com base na Lei Estadual 15.608/2007, que estabelece normas sobre licitações, contratos administrativos
            e convênios no âmbito dos Poderes do Estado do
            Paraná, especialmente sobre o instrumento jurídico do
            credenciamento, é CORRETO afirmar que:

          </p>
        </div>

        <div class="alternativas-pergunta">
          <span> <input type="Radio" Name="Q25" Value="A" Id="alt-correta" /> a) Credenciamento é ato administrativo de
            chamamento público, processado por edital, destinado à contratação de serviços junto àqueles que satisfaçam
            os requisitos definidos pela Administração, observado o prazo de publicidade de no mínimo 15 (quinze) dias
            úteis e no máximo de 30 (trinta) dias úteis.</span>
          <span> <input type="Radio" Name="Q25" Value="B" /> b) A Administração Estadual não poderá adotar o
            credenciamento para situações em que o mesmo objeto possa ser realizado simultaneamente por diversos
            contratados.</span>
          <span> <input type="Radio" Name="Q25" Value="C" /> c) Admite-se a possibilidade de rescisão do ajuste, pelo
            credenciado, dentro do prazo improrrogável de 10 dias úteis, a partir da conclusão do credenciamento,
            mediante notificação à Administração.</span>
          <span> <input type="Radio" Name="Q25" Value="D" /> d) O pagamento dos credenciados será realizado de acordo
            com a demanda, tendo por base o valor pré-definido pela Administração, vedada a utilização de tabelas de
            referência.</span>
        </div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>
      </div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</body>

</html>