<!doctype html>

<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <title>Questão 27</title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</head>

<body Id="Q27">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 27/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">

        <Div Class="nav-pergunta">
          <a Href="EQ7_Q26A.html">&lt;</a>
          <a Href="EQ7_Q26A.html">26</a>
          <a Class="pergunta-selecionada" Href="EQ7_Q27B.html">27</a>
          <a Href="EQ7_Q28C.html">28</a>
          <a Href="EQ7_Q28C.html">&gt;</a>
        </Div>

        <div class="enunciado-pergunta">
          <p>
            27. A Constituição da República de 1988 (CR/88) prevê que a União, os Estados, o Distrito Federal e os
            Municípios disciplinarão por meio de lei os consórcios públicos e os convênios de cooperação entre os entes
            federados, autorizando a gestão associada de serviços públicos, bem como a transferência total ou parcial de
            encargos, serviços, pessoal e bens essenciais à continuidade dos serviços transferidos. Os consórcios
            públicos são, portanto, importantes instrumentos jurídicos postos à disposição dos entes federativos. Sobre
            o tema, assinale a alternativa INCORRETA.
          </p>
        </div>

        <div class="alternativas-pergunta">
          <span> <input type="Radio" Name="Q27" Value="A" /> a) A União somente participará de consórcios públicos em que também façam parte todos os Estados em cujos territórios estejam situados os Municípios consorciados.
          </span>
          <span> <input type="Radio" Name="Q27" Value="B" Id="alt-correta" /> b) A alteração ou a extinção de contrato de consórcio público dependerá de instrumento aprovado pela assembleia geral, ratificado mediante decreto do Poder Executivo de todos os entes consorciados.</span>
          <span> <input type="Radio" Name="Q27" Value="C" /> c) O consórcio público constituirá associação pública ou pessoa jurídica de direito privado.</span>
          <span> <input type="Radio" Name="Q27" Value="D" /> d) É nula a cláusula do contrato de consórcio que preveja determinadas contribuições financeiras ou econômicas de ente da Federação ao consórcio público, salvo a doação, destinação ou cessão do uso de bens móveis ou imóveis e as transferências ou cessões de direitos operadas por força de gestão associada de serviços públicos.</span>
        </div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>
      </div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</body>

</html>