<!DocType HTML>

<HTML Lang="PT-BR">

<Head>
  <Meta CharSet="UTF-8" />
  <Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <Title>Questão 21</Title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</Head>

<Body Id="Q21">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 21/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">
        <Div Class="nav-pergunta">
          <a Href="EQ7_Q20D.html">&lt;</a>
          <a Href="EQ7_Q20D.html">20</a>
          <a Class="pergunta-selecionada" Href="EQ7_Q21D.html">21</a>
          <a Href="EQ7_Q22C.html">22</a>
          <a Href="EQ7_Q22C.html">&gt;</a>
        </Div>

        <Div Class="texto-pergunta">
          <h2>QUESTÕES DE 21 A 40 - CONHECIMENTOS ESPECÍFICOS</h2>
          <br>
        </Div>

        <Div Class="enunciado-pergunta">
          <p>
            21. A respeito do tema “Plano Diretor Municipal”, com base na Lei 10.257/2001, assinale a alternativa
            INCORRETA.
          </p>
        </Div>

        <Div Class="alternativas-pergunta">
          <Span> <Input Type="Radio" Name="Q21" Value="A" /> a) A lei que instituir o plano diretor deverá ser revista,
            pelo menos, a cada dez anos.</Span>
          <Span> <Input Type="Radio" Name="Q21" Value="B" /> b) O plano diretor é parte integrante do processo de
            planejamento municipal, devendo o plano plurianual, as diretrizes orçamentárias e o orçamento anual
            incorporar as diretrizes e as prioridades nele contidas.</Span>
          <Span> <Input Type="Radio" Name="Q21" Value="C" /> c) O plano diretor é obrigatório para cidades com mais de
            vinte mil habitantes.</Span>
          <Span> <Input Type="Radio" Name="Q21" Value="D" Id="alt-correta" /> d) No caso de cidades com mais de
            quinhentos mil habitantes, poderá ser elaborado um plano de transporte urbano integrado, compatível com o
            plano diretor e obrigatoriamente nele inserido.</Span>
        </Div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>

      </Div>
    </Div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</Body>

</HTML>