EQ7_<!DocType HTML>

<HTML Lang="PT-BR">

<Head>
  <Meta CharSet="UTF-8" />
  <Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <Title>Questão 19</Title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</Head>

<Body Id="Q19">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 19/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">
        <Div Class="nav-pergunta">
          <a Href="EQ7_Q18C.html">&lt;</a>
          <a Href="EQ7_Q18C.html">18</a>
          <a Class="pergunta-selecionada" Href="EQ7_Q19B.html">19</a>
          <a Href="EQ7_Q20D.html">20</a>
          <a Href="EQ7_Q20D.html">&gt;</a>
        </Div>

        <Div Class="enunciado-pergunta">
          <p>
            19. Leia a notícia a seguir e marque a alternativa que
            contém o termo que preenche CORRETAMENTE a lacuna.
          </p>
          <br>
          <p>
            “O governo dos Estados Unidos está a pressionar as autoridades __________ a usarem os poderes federais para acabar com os  bloqueios rodoviários organizados por caminhoneiros como forma de protesto contra a vacinação obrigatória. Os principais pontos de travessia da fronteira entre os dois países estão vedados desde o início da semana. Desde o final de janeiro que milhares de caminhoneiros têm bloqueado estradas à volta da capital, bem como algumas áreas da cidade, em protesto contra a obrigação de apresentação de certificado de vacinação contra a Covid-19 para atravessar a fronteira”. (Público, 11/02/2022, com adaptações).
          </p>
        </Div>

        <Div Class="alternativas-pergunta">
          <Span> <Input Type="Radio" Name="Q19" Value="A"/> a) americanas.</Span>
          <Span> <Input Type="Radio" Name="Q19" Value="B" Id="alt-correta" /> b) canadenses.</Span>
          <Span> <Input Type="Radio" Name="Q19" Value="C" /> c) francesas.</Span>
          <Span> <Input Type="Radio" Name="Q19" Value="D" /> d) mexicanas</Span>
        </Div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>

      </Div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</Body>

</HTML>