<!DocType HTML>

<HTML Lang="PT-BR">

<Head>
  <Meta CharSet="UTF-8" />
  <Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <Title>Questão 16</Title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas-responsive.css"
    Media="screen and (min-width: 768px)" />
</Head>

<Body Id="Q16">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 16/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">

        <Div Class="nav-pergunta">
          <a Href="Q15D.html">&lt;</a>
          <a Href="Q15D.html">15</a>
          <a Class="pergunta-selecionada" Href="Q16D.html">16</a>
          <a Href="Q17C.html">17</a>
          <a Href="Q17C.html">&gt;</a>
        </Div>

        <Div Class="texto-pergunta">
          <h2>QUESTÕES DE 16 A 20 - CONHECIMENTOS GERAIS</h2>
          <br>
        </Div>

        <Div Class="enunciado-pergunta">
          <p>
            16. Considere a seguinte matéria jornalística, a respeito de uma atual crise nas relações internacionais, e
            marque a alternativa que preenche CORRETAMENTE a lacuna.
          </p>
          <br>
          <p>
            “O Presidente dos Estados Unidos, Joe Biden, voltou a aconselhar os seus cidadãos na ________ a deixarem o
            pais, lembrando que um possível conflito entre as forças norte-americanas e russas será uma ‘guerra
            mundial’. ‘Os cidadãos norte-americanos devem sair
            agora’, referiu Biden. ‘Não é como se estivéssemos a lidar com uma organização terrorista. Estamos a lidar
            com um dos maiores exércitos do mundo. É uma situação muito diferente e as coisas podem enlouquecer
            rapidamente’, acrescentou”. (Diário de Notícias, 11/02/2022, com adaptações).
          </p>
        </Div>

        <Div Class="alternativas-pergunta">
          <Span> <Input Type="Radio" Name="Q16" Value="A" /> a) Geórgia.</Span>
          <Span> <Input Type="Radio" Name="Q16" Value="B" /> b) Lituânia.</Span>
          <Span> <Input Type="Radio" Name="Q16" Value="C" /> c) Polônia.</Span>
          <Span> <Input Type="Radio" Name="Q16" Value="D" Id="alt-correta"  /> d) Ucrânia.</Span>
        </Div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>

      </Div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</Body>

</HTML>