<!DocType HTML>

<HTML Lang="PT-BR">

<Head>
  <Meta CharSet="UTF-8" />
  <Meta Name="ViewPort" Content="width=device-width, initial-scale=1.0" />
  <Title>Questão 29</Title>
  <Link Rel="Icon" href="https://www.pciconcursos.com.br/img/pcimobi.png" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/layout.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/perguntas.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup.css" />
  <Link rel="StyleSheet" type="Text/Css" Href="../../css/popup-correcao.css" />
  <Link Rel="StyleSheet" Type="Text/Css" Href="../../css/responsive.css" Media="screen and (max-width: 1440px)" />
</Head>

<Body Id="Q29">
  <Header>
    <Div Class="container">
      <Div Class="logos">
        <Div Class="logo_pci">
          <a Target="_Blank" Href="https://www.pciconcursos.com.br/">
            <img src="https://www.pciconcursos.com.br/img/pcimobi.png" widht="65" height="45">
          </a>
        </Div>
        <Span Class="logo_parana">
          <b>
            PARANACIDADE
          </b>
        </Span>
      </Div>
      <Div Class="menu-section">
        <Div Class="menu-toggle">
          <Div Class="one"></Div>
          <Div Class="two"></Div>
          <Div Class="three"></Div>
        </Div>
        <Nav>
          <Ul>
            <Li>
              <a Href="../../Views/Principal/Index.html">Início</a>
            </Li>
            <Li>
              <a Href="../../Views/Principal/About.html">Sobre</a>
            </Li>
            <Li>
              <a Href="../Principal/Credits.html">Créditos</a>
            </Li>

          </Ul>
        </Nav>
      </Div>
    </Div>
  </Header>

  <Main>
    <Div Class="pagina-pergunta">
      <Div Class="numero-pergunta">
        <b>
          Simulado Análise e Desenvolvimento de Sistemas - PARANACIDADE 2022 - Questão 29/40
        </b>
      </Div>

      <Div Class="corpo-pergunta">

        <Div Class="nav-pergunta">
          <a Href="Q28C.html">&lt;</a>
          <a Href="Q28C.html">28</a>
          <a Class="pergunta-selecionada" Href="Q29D.html">29</a>
          <a Href="Q30B.html">30</a>
          <a Href="Q30B.html">&gt;</a>
        </Div>

        <Div Class="enunciado-pergunta">
          <p>
            29. Considere o conceito de Qualidade de Software de acordo com a norma 9126, que trata como sendo um
            conjunto de atributos que têm impacto na capacidade do software de manter o seu nível de desempenho dentro
            de condições estabelecidas por um dado período de tempo [Cortes 2009]. De acordo com a norma ISO/IEC
            9126-1:2001, é CORRETO afirmar que:
          </p>
        </Div>

        <Div Class="alternativas-pergunta">
          <Span> <Input Type="Radio" Name="Q29" Value="A" /> a) Esta parte da norma é referente às métricas de qualidade
            em uso baseadas na eficácia, produtividade, segurança e satisfação do usuário</Span>
          <Span> <Input Type="Radio" Name="Q29" Value="B" /> b) Esta parte da norma é referente às métricas externas que
            têm como propósito determinar a taxa de implementação das funções definidas na especificação de requisitos e
            o controle de ocorrência de falhas.</Span>
          <Span> <Input Type="Radio" Name="Q29" Value="C" /> c) Esta parte da norma é referente às métricas internas que
            têm como objetivo verificar se as funções são adequadas ao que foi especificado, determinar o número de
            falhas previstas, estimar o tempo de resposta da aplicação e verificar se as alterações são registradas
            adequadamente.</Span>
          <Span> <Input Type="Radio" Name="Q29" Value="D" Id="alt-correta" /> d) Esta parte da norma é referente ao
            modelo de qualidade e foca nas diretrizes de uso e características de qualidade de produto de
            software.</Span>
        </Div>

        <Div Class="buttons-nav">
          <Input Type="Button" Class="button-nav" Value="Finalizar" OnClick="salvaResultadoSimulado()" />
          <Input Type="Button" id="popup" Class="button-nav" Value="Menu" onclick="abrirPopUp()" />
          <Input Type="Button" Class="button-nav" Value="Corrigir" OnClick="confereResposta()" />
        </Div>

      </Div>
    </Div>
  </Main>

  <Footer>
    <Div>
      <p>
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br/analise-e-desenvolvimento-de-sistemas/">
          Curso de Análise e Desenvolvimento de Sistemas (ADS)
        </a>
      </p>

      <Div Class="fatec_sp">
        <a Target="_Blank" Href="http://www.fateccarapicuiba.edu.br">
          <Img Src="../../Images/Principal/fatec-carapicuiba-logo.png" />
        </a>
        <a Target="_Blank" Href="https://www.saopaulo.sp.gov.br/">
          <Img Src="../../Images/Principal/governo-do-estado-de-sp-logo.png" height="45px" width="80px" />
        </a>
        <a Target="_Blank" Href="https://www.cps.sp.gov.br/">
          <Img Src="../../Images/Principal/cps-logo.png" height="45px" width="80px" />
        </a>
      </Div>
    </Div>
  </Footer>

  <Script Src="../../js/menu.js"></Script>
  <Script Src="../../js/contar.js"></Script>
  <Script Src="../../js/corrigir.js"></Script>
  <script src="../../js/popup.js"></script>
</Body>

</HTML>